.MainContent {
    padding: 200px 20px 20px 20px;
    min-height: 50vh;
}

.MainContent > div {
    max-width: 1160px;
    margin: 0 auto;
}

.MainContent section > .CollapseChart .Chart {
    margin-bottom: 2rem;
}

@media (max-width: 992px) {
    .MainContent {
        padding-top: 170px;
        padding-bottom: 80px;
    }
}

@media (max-width: 768px) {
    .MainContent {
        padding-top: 160px;
    }
}

@media (max-width: 620px) {
    .MainContent {
        padding-top: 180px;
    }
}

@media (max-width: 576px) {
    .MainContent {
        padding: 170px 10px 80px 10px;
    }
}