.MainLayout {
    min-height: calc(100vh - 20px);
    background-color: var(--clrBG);
    position: relative;
    padding-bottom: 80px;
}

@media (max-width: 992px) {
    .MainLayout {
        padding-bottom: 0;
    }
}


/*********************************
* LIGHT MODE
*********************************/

.light-mode .MainLayout {
    background-color: var(--lm_clrBG);
}