.BalanceInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.BalanceInfo .PortfolioLabel > div:last-child {
    font-size: 12px;
    margin: 0 15px 0 0;
    font-weight: bold;
}

@media (max-width: 768px) {
    .BalanceInfo .PortfolioLabel > div:last-child {
        font-size: 10px;
        margin-right: 10px;
    }
}