.Loader {
    width: 35px;
    height: 35px;
    background: url(../../img/svgs/loader-branco.svg) no-repeat center;
    background-size: 35px;
}


/*********************************
* LIGHT MODE
*********************************/
.light-mode .Loader {
    background-image: url(../../img/svgs/loader-cinza.svg);
}